# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
/.vs/cachesim_vs2017/v15
/Debug
/caching_debug.pdb
/caching_v2_INFOMOV2017.zip
/Release/caching.tlog
/Release/cachesim_vs2017.log
/Release
/output.txt
/caching.psess
/caching1.psess
/caching170929(1).vspx
/caching170929.vspx
/caching.pdb
/Results
/Final Results
/caching170929(2).vspx
/caching2.psess
/results.csv
/test.txt
/fractal
/README.txt
